---
import { getCollection, getEntryBySlug } from "astro:content";
import { SITE_URL } from "../../config";
import PageLayout from "../../layouts/PageLayout.astro";
import PageMeta from "../../components/PageMeta.astro";
import Renderer from "../../components/Renderer.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts", ({ data }) => {
    return data.draft === false;
  });

  return posts.map((post) => {
    return { params: { slug: post.slug } };
  });
}

const { slug } = Astro.params;
const entry = await getEntryBySlug("posts", slug);
const { data } = entry;
const { Content } = await entry.render();

const formattedDate = new Date(data.date).toLocaleDateString("en-gb", {
  year: "numeric",
  month: "short",
  day: "numeric",
});
---

<PageLayout>
  <PageMeta title={data.title} description={data.description} slot="meta" />
  <Fragment slot="main">
    <time
      datetime={data.date.toISOString()}
      class="order-first flex items-center"
    >
      <span class="h-4 w-0.5 rounded-full bg-lavender"></span>
      <span class="ml-3 text-subtext">{formattedDate}</span>
    </time>
    <h1 class="mt-4 text-4xl font-bold tracking-tight">{data.title}</h1>
    <div class="prose mt-6 max-w-full">
      <Content />
    </div>
  </Fragment>
</PageLayout>
